.container {
    margin: 0;

    background-color: #0A0B16;
    padding: 24px;
    border-radius: 12px;

    display: flex;
    align-items: center;
    cursor: pointer;
}

.container * {
    margin: 0;
}

.left {
    flex-grow: 1;
    margin-right: 16px;

    display: flex;
    flex-direction: column;
    gap: 4px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.lightText {
    color: rgba(255, 255, 255, 0.5);
}

.right {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.check {
    color: #4394EC;
    height: 0px;
    width: 0px;
    min-height: 0px;
    min-width: 0px;

    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.check.visible {
    visibility: visible;
    opacity: 1;

    width: 22px;
    height: 22px;
    min-width: 22px;
    min-height: 22px;
    margin-right: 16px;
}