.container {
    --column-height: 125px;
    --column-width: 40px;

    display: flex;
    flex-direction: column;
    gap: 32px;
}

.weatherColumn {
    height: var(--column-height);
    margin-right: 8px;
}

.weatherColumn * {
    text-overflow: clip;
    white-space: normal;
}

.barsContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.barContainer {
    position: relative;
    height: var(--column-height);
    width: var(--column-width);
    margin-bottom: 20px;
}

.bar {
    background-color: #302E62;
    width: 10px;
    border-radius: 8px;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}