.container {
    position: relative;
    background-color: #100E3B;
    color: white;
    min-width: 400px;
    overflow: hidden;
}

.container * {
    margin: 0px;
}

.container .clouds,
.container .absoluteContent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.content{
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    height: 100%;
    padding: 48px 40px;
}

.currentWeather {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.container span {
    color: rgba(255, 255, 255, 0.75);
}

.tempContainer {
    margin: 8px 0px;
}

.tempContainer h1 {
    line-height: 94px;
}

.tempContainer h2 {
    line-height: 50px;
}

#todayIcon {
    color: #4394EC;
    margin-right: 16px;
}

#date {
    margin-top: 4px;
}

.clouds {
    color: #1E1D46;
    position: relative;
}

#cloud1 {
    position: absolute;
    top: 250px;
    left: 25px;
    transform: translate(-50%, -50%) rotateY(180deg);
}

#cloud2 {
    position: absolute;
    top: 200px;
    left: 100%;
    transform: translate(-50%, -50%) rotateY(180deg);
}

#cloud3 {
    position: absolute;
    top: 360px;
    left: 100%;
    margin-left: -50px;
    transform: translate(-50%, -50%) rotateY(180deg);
}

#dot {
    margin: 0px 12px;
}