.cloud {
    z-index: 1;

    color: white;
    position: absolute;
    top: 50%;
    left: 50%;

    width: 100px;
    height: 100px;
    margin: -50px;
}

.cloud:nth-child(2) {
    z-index: 0;
    
    opacity: 0.3;
    transform: scale(0.5) translate(80px, -45px);
    animation: cloud-animation 1.5s ease-in-out infinite;
}

@keyframes cloud-animation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.75;
    }

    100% {
        opacity: 0;
        transform: scale(0.5) translate(-100%, -45px);
    }
}