body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
span,
li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

h1 {
  font-size: 130px;
  font-weight: 300;
}

h2 {
  font-size: 30px;
  font-weight: 300;
}

.bold-h2 {
  font-size: 30px;
  font-weight: 700;
}

h3 {
  font-size: 25px;
  font-weight: 400;
}

h4 {
  font-size: 14px;
  font-weight: 500;
}

::-webkit-scrollbar {
  height: 15px;
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background: #B9BDBF;
  background-clip: content-box;
  border: 5px solid transparent;
  border-radius: 10px;
}

.row {
  display: flex;
  flex-direction: row;
}

.center-items {
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.column.expand{
  height: 100%;
}

.horizontal-scroll {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 24px;
  overflow-x: auto;

  padding: 0px 40px;
  justify-content: stretch;
}

.horizontal-scroll.start{
  justify-content: start;
}

.absolute-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}