.container {
    display: flex;
    justify-content: space-evenly;
    gap: 24px;
}

.detail{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail span {
    margin-top: 2px;
}

.detail .icon {
    width: 20px;
    height: 20px;
    color: var(--primary-color);
    margin-bottom: 10px;
}