.container {
    --icon-size: 20px;

    position: absolute;
    background-color: white;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 16px;
    z-index: 1;
}

ul {
    margin: 0;
    padding: 12px 0px;
}

li {
    display: flex;
    align-items: center;
    padding: 12px 24px;
    padding-right: 36px;
}

.icon {
    color: var(--contextmenu-icon-color);
    margin-right: 16px;
    height: var(--icon-size);
    width: var(--icon-size);
}

.icon * {
    height: var(--icon-size);
    width: var(--icon-size);
}

li.enabled:hover {
    cursor: pointer;
    background-color: var(--light-hover-color);
}

li.disabled {
    color: var(--contextmenu-disabled-color);
}

li.disabled .icon {
    color: var(--contextmenu-disabled-icon-color);
}