.container {
    display: grid;
    width: 680px;
    background-color: var(--lightpanel-bg-color);
}

.absoluteContent,
.contentContainer {
    grid-area: 1 / 1;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    gap: 24px;

    padding-top: 48px;
    padding-bottom: 18px;
    overflow: hidden;
}

.contentPadding {
    display: flex;
    flex-direction: column;
    gap: 24px;

    padding: 0px 40px;
}

.searchBarContainer {
    max-width: 300px;
}

.header * {
    display: inline;
}

.horizontalScroll {
    display: flex;
    gap: 24px;
    overflow-x: auto;
    padding: 0px 40px;
    padding-bottom: 18px;
}