.container{
  --input-height: 52px;
  --suggestion-height: 45px;

  position: relative;
  max-width: 300px;
  height: var(--input-height);
}

.content{
  position: absolute;
  width: 100%;
  
  background-color: white;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.025) 0px 0px 16px;
}

.inputContainer {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: var(--input-height);
  padding: 0px 18px;
}

.inputContainer input {
  background: transparent;
  border: none;
  outline: none;
  flex-grow: 1;
}

.inputContainer .prefix {
  margin-right: 12px;
}

.suggestionsContainer{
  height: 0;
  margin: 0;
  padding: 0;

  overflow-y: hidden;
  transition: ease 0.5s;
}

.suggestionsContainer *{
  display: flex;
  align-items: center;
  padding-left: 46px;
  padding-right: 28px;

  box-sizing: border-box;
  height: var(--suggestion-height);
  
  cursor: pointer;
}