.container {
  --input-height: 52px;
  --suggestion-height: 45px;

  position: relative;
  height: var(--input-height);
}

.content {
  position: absolute;
  width: 100%;

  background-color: white;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.025) 0px 0px 16px;
  transition: ease 0.3s;
}

.expandedContent {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 16px;
}

.inputContainer {
  display: flex;
  align-items: center;
}

.inputContainer input {
  background: transparent;
  height: var(--input-height);
  padding: 0px 18px;

  border: none;
  outline: none;
  flex-grow: 1;
}

.inputContainer .prefix {
  margin-top: 2px;
  margin-left: 18px;
}

.suggestionsContainer {
  height: 0;
  margin: 0;
  padding: 0;

  overflow-y: hidden;
  transition: ease 0.5s;
}

.suggestionsContainer li {
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-right: 24px;

  box-sizing: border-box;
  height: var(--suggestion-height);

  cursor: pointer;
  transition: ease 0.3s;
}

.suggestionsContainer li:hover,
.suggestionsContainer .focused {
  background-color: #EEEEEE;
}

@media only screen and (max-width: 800px) {
  .content {
    background-color: #0A0B16;
  }

  .expandedContent {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 8px 24px;
  }

  .inputContainer input {
    color: white;
  }

  .suggestionsContainer li:hover,
  .suggestionsContainer .focused {
    background-color: rgba(255, 255, 255, 0.008);
  }
}