.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-bg-color);
}

.rounded-container {
  display: flex;
  overflow: auto;

  margin: 24px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}